html, body {
  margin: 20px;
}

.list-group-item {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.list-group {
  max-width: 400px;
}

ul[aria-hidden=true] {
  display: none;
}

li[aria-expanded=true] > .badge {
  display: none;
}
