ul[role="tree"], [role="tree"] li, [role="tree"] ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

[role="treeitem"] > span {
  display: block;
  padding-left: 0px;
  user-select: none;
}

[role="treeitem"] [role="treeitem"] > span {
  padding-left: 30px;
}

[role="treeitem"] [role="treeitem"] [role="treeitem"] > span {
  padding-left: 60px;
}

[role="treeitem"] [role="treeitem"] [role="treeitem"] [role="treeitem"] > span {
  padding-left: 90px;
}

[role="tree"] .active > span {
  background-color: #ccc;
}

[role="tree"]:focus .active > span {
  background-color: #03c;
  color: #fff;
}

[aria-expanded="true"] > .caret {
  border-bottom: 4px dashed;
  border-top: 0 none;
}
