<div id="application" role="application">

<h2 id="foods">Foods</h2>
{{#ivy-tree class="list-group" aria-labelledby="foods"}}
  {{#ivy-tree-item class="list-group-item" isExpanded=false}}
    <span class="badge">5</span>
    <span>Fruits</span>
    {{#ivy-tree-group class="list-group"}}
      {{#ivy-tree-item class="list-group-item"}}Oranges{{/ivy-tree-item}}
      {{#ivy-tree-item class="list-group-item"}}Pineapples{{/ivy-tree-item}}
      {{#ivy-tree-item class="list-group-item" isExpanded=false}}
        <span class="badge">3</span>
        <span>Apples</span>
        {{#ivy-tree-group class="list-group"}}
          {{#ivy-tree-item class="list-group-item"}}Macintosh{{/ivy-tree-item}}
          {{#ivy-tree-item class="list-group-item" isExpanded=false}}
            <span class="badge">3</span>
            <span>Granny Smith</span>
            {{#ivy-tree-group class="list-group"}}
              {{#ivy-tree-item class="list-group-item"}}Washington State{{/ivy-tree-item}}
              {{#ivy-tree-item class="list-group-item"}}Michigan{{/ivy-tree-item}}
              {{#ivy-tree-item class="list-group-item"}}New York{{/ivy-tree-item}}
            {{/ivy-tree-group}}
          {{/ivy-tree-item}}
          {{#ivy-tree-item class="list-group-item"}}Fuji{{/ivy-tree-item}}
        {{/ivy-tree-group}}
      {{/ivy-tree-item}}
      {{#ivy-tree-item class="list-group-item"}}Bananas{{/ivy-tree-item}}
      {{#ivy-tree-item class="list-group-item"}}Pears{{/ivy-tree-item}}
    {{/ivy-tree-group}}
  {{/ivy-tree-item}}
  {{#ivy-tree-item class="list-group-item" isExpanded=false}}
    <span class="badge">5</span>
    <span>Vegetables</span>
    {{#ivy-tree-group class="list-group"}}
      {{#ivy-tree-item class="list-group-item"}}Broccoli{{/ivy-tree-item}}
      {{#ivy-tree-item class="list-group-item"}}Carrots{{/ivy-tree-item}}
      {{#ivy-tree-item class="list-group-item" isExpanded=false}}
        <span class="badge">3</span>
        <span>Lettuce</span>
        {{#ivy-tree-group class="list-group"}}
          {{#ivy-tree-item class="list-group-item"}}Romaine{{/ivy-tree-item}}
          {{#ivy-tree-item class="list-group-item"}}Iceberg{{/ivy-tree-item}}
          {{#ivy-tree-item class="list-group-item"}}Butterhead{{/ivy-tree-item}}
        {{/ivy-tree-group}}
      {{/ivy-tree-item}}
      {{#ivy-tree-item class="list-group-item"}}Spinach{{/ivy-tree-item}}
      {{#ivy-tree-item class="list-group-item" isExpanded=false}}
        <span class="badge">9</span>
        <span>Squash</span>
        {{#ivy-tree-group class="list-group"}}
          {{#ivy-tree-item class="list-group-item"}}Acorn{{/ivy-tree-item}}
          {{#ivy-tree-item class="list-group-item"}}Ambercup{{/ivy-tree-item}}
          {{#ivy-tree-item class="list-group-item"}}Autumn Cup{{/ivy-tree-item}}
          {{#ivy-tree-item class="list-group-item"}}Hubbard{{/ivy-tree-item}}
          {{#ivy-tree-item class="list-group-item"}}Kabocha{{/ivy-tree-item}}
          {{#ivy-tree-item class="list-group-item"}}Butternut{{/ivy-tree-item}}
          {{#ivy-tree-item class="list-group-item"}}Spaghetti{{/ivy-tree-item}}
          {{#ivy-tree-item class="list-group-item"}}Sweet Dumpling{{/ivy-tree-item}}
          {{#ivy-tree-item class="list-group-item"}}Turban{{/ivy-tree-item}}
        {{/ivy-tree-group}}
      {{/ivy-tree-item}}
    {{/ivy-tree-group}}
  {{/ivy-tree-item}}
{{/ivy-tree}}

</div>
