<div id="application" role="application">

<h2 id="foods">Foods</h2>
{{#ivy-tree class="list-group" aria-labelledby="foods" as |tree|}}
  {{#tree.item class="list-group-item" aria-label="Fruits" as |item|}}
    <span>Fruits</span>
    {{#item.group class="list-group" as |group|}}
      {{#group.item class="list-group-item"}}Oranges{{/group.item}}
      {{#group.item class="list-group-item"}}Pineapples{{/group.item}}
      {{#group.item class="list-group-item" aria-label="Apples" as |item1|}}
        <span role="presentation" class="caret" onclick={{action item1.toggle}}></span>
        <span>Apples</span>
        {{#item1.group class="list-group" as |group1|}}
          {{#group1.item class="list-group-item"}}Macintosh{{/group1.item}}
          {{#group1.item class="list-group-item" aria-label="Granny Smith" as |item2|}}
            <span>Granny Smith</span>
            {{#item2.group class="list-group" as |group2|}}
              {{#group2.item class="list-group-item"}}Washington State{{/group2.item}}
              {{#group2.item class="list-group-item"}}Michigan{{/group2.item}}
              {{#group2.item class="list-group-item"}}New York{{/group2.item}}
            {{/item2.group}}
          {{/group1.item}}
          {{#group1.item class="list-group-item"}}Fuji{{/group1.item}}
        {{/item1.group}}
      {{/group.item}}
      {{#group.item class="list-group-item"}}Bananas{{/group.item}}
      {{#group.item class="list-group-item"}}Pears{{/group.item}}
    {{/item.group}}
  {{/tree.item}}
  {{#tree.item class="list-group-item" aria-label="Vegetables" as |item|}}
    <span>Vegetables</span>
    {{#item.group class="list-group" as |group|}}
      {{#group.item class="list-group-item"}}Broccoli{{/group.item}}
      {{#group.item class="list-group-item"}}Carrots{{/group.item}}
      {{#group.item class="list-group-item" aria-label="Lettuce" as |item1|}}
        <span>Lettuce</span>
        {{#item1.group class="list-group" as |group1|}}
          {{#group1.item class="list-group-item"}}Romaine{{/group1.item}}
          {{#group1.item class="list-group-item"}}Iceberg{{/group1.item}}
          {{#group1.item class="list-group-item"}}Butterhead{{/group1.item}}
        {{/item1.group}}
      {{/group.item}}
      {{#group.item class="list-group-item"}}Spinach{{/group.item}}
      {{#group.item class="list-group-item" aria-label="Squash" as |item1|}}
        <span>Squash</span>
        {{#item1.group class="list-group" as |group1|}}
          {{#group1.item class="list-group-item"}}Acorn{{/group1.item}}
          {{#group1.item class="list-group-item"}}Ambercup{{/group1.item}}
          {{#group1.item class="list-group-item"}}Autumn Cup{{/group1.item}}
          {{#group1.item class="list-group-item"}}Hubbard{{/group1.item}}
          {{#group1.item class="list-group-item"}}Kabocha{{/group1.item}}
          {{#group1.item class="list-group-item"}}Butternut{{/group1.item}}
          {{#group1.item class="list-group-item"}}Spaghetti{{/group1.item}}
          {{#group1.item class="list-group-item"}}Sweet Dumpling{{/group1.item}}
          {{#group1.item class="list-group-item"}}Turban{{/group1.item}}
        {{/item1.group}}
      {{/group.item}}
    {{/item.group}}
  {{/tree.item}}
{{/ivy-tree}}

</div>
