<div class="row">
  <div class="col-sm-6">
    {{#ivy-tree aria-labelledby="foods" as |tree|}}
      {{#tree.treeitem aria-label="Fruits" as |treeitem|}}
        <span>
          <span class="caret"></span>
          Fruits
        </span>
        {{#treeitem.group as |group|}}
          {{#group.treeitem}}<span>Oranges</span>{{/group.treeitem}}
          {{#group.treeitem}}<span>Pineapples</span>{{/group.treeitem}}
          {{#group.treeitem aria-label="Apples" as |treeitem|}}
            <span>
              <span class="caret"></span>
              Apples
            </span>
            {{#treeitem.group as |group|}}
              {{#group.treeitem}}<span>Macintosh</span>{{/group.treeitem}}
              {{#group.treeitem aria-label="Granny Smith" as |treeitem|}}
                <span>
                  <span class="caret"></span>
                  Granny Smith
                </span>
                {{#treeitem.group as |group|}}
                  {{#group.treeitem}}<span>Washington State</span>{{/group.treeitem}}
                  {{#group.treeitem}}<span>Michigan</span>{{/group.treeitem}}
                  {{#group.treeitem}}<span>New York</span>{{/group.treeitem}}
                {{/treeitem.group}}
              {{/group.treeitem}}
              {{#group.treeitem}}<span>Fuji</span>{{/group.treeitem}}
            {{/treeitem.group}}
          {{/group.treeitem}}
          {{#group.treeitem}}<span>Bananas</span>{{/group.treeitem}}
          {{#group.treeitem}}<span>Pears</span>{{/group.treeitem}}
        {{/treeitem.group}}
      {{/tree.treeitem}}
      {{#tree.treeitem aria-label="Vegetables" as |treeitem|}}
        <span>
          <span class="caret"></span>
          Vegetables
        </span>
        {{#treeitem.group as |group|}}
          {{#group.treeitem}}<span>Broccoli</span>{{/group.treeitem}}
          {{#group.treeitem}}<span>Carrots</span>{{/group.treeitem}}
          {{#group.treeitem aria-label="Lettuce" as |treeitem|}}
            <span>
              <span class="caret"></span>
              Lettuce
            </span>
            {{#treeitem.group as |group|}}
              {{#group.treeitem}}<span>Romaine</span>{{/group.treeitem}}
              {{#group.treeitem}}<span>Iceberg</span>{{/group.treeitem}}
              {{#group.treeitem}}<span>Butterhead</span>{{/group.treeitem}}
            {{/treeitem.group}}
          {{/group.treeitem}}
          {{#group.treeitem}}<span>Spinach</span>{{/group.treeitem}}
          {{#group.treeitem aria-label="Squash" as |treeitem|}}
            <span>
              <span class="caret"></span>
              Squash
            </span>
            {{#treeitem.group as |group|}}
              {{#group.treeitem}}<span>Acorn</span>{{/group.treeitem}}
              {{#group.treeitem}}<span>Ambercup</span>{{/group.treeitem}}
              {{#group.treeitem}}<span>Autumn Cup</span>{{/group.treeitem}}
              {{#group.treeitem}}<span>Hubbard</span>{{/group.treeitem}}
              {{#group.treeitem}}<span>Kabocha</span>{{/group.treeitem}}
              {{#group.treeitem}}<span>Butternut</span>{{/group.treeitem}}
              {{#group.treeitem}}<span>Spaghetti</span>{{/group.treeitem}}
              {{#group.treeitem}}<span>Sweet Dumpling</span>{{/group.treeitem}}
              {{#group.treeitem}}<span>Turban</span>{{/group.treeitem}}
            {{/treeitem.group}}
          {{/group.treeitem}}
        {{/treeitem.group}}
      {{/tree.treeitem}}
    {{/ivy-tree}}
  </div>

  <div class="col-sm-6">
    <h3>Keyboard Shortcuts</h3>

    <p>The following keyboard shortcuts are supported. Make sure the tree has focus first.</p>

    <dl class="dl-horizontal">
      <dt><code>Up</code></dt>
      <dd>Select the previous visible tree item.</dd>
      <dt><code>Down</code></dt>
      <dd>Select the next visible tree item.</dd>
      <dt><code>Left</code></dt>
      <dd>Collapse the selected node, if it has children and is expanded. Otherwise, select its parent node.</dd>
      <dt><code>Right</code></dt>
      <dd>Expand the selected node, if it has children and is collapsed. Select its first child node.</dd>
      <dt><code>Home</code></dt>
      <dd>Select the first visible tree item.</dd>
      <dt><code>End</code></dt>
      <dd>Select the last visible tree item.</dd>
      <dt><code>Enter</code></dt>
      <dd>Toggle the expanded or collapsed state of the selected node.</dd>
      <dt><code>*</code></dt>
      <dd>Expand all nodes that have children.</dd>
    </dl>
  </div>
</div>
