<div class="row">
  <div class="col-sm-6">
    {{#ivy-tree class="list-group" aria-labelledby="foods" as |tree|}}
      {{#tree.treeitem class="list-group-item" aria-label="Fruits" as |treeitem|}}
        <span>Fruits</span>
        {{#treeitem.group class="list-group" as |group|}}
          {{#group.treeitem class="list-group-item"}}Oranges{{/group.treeitem}}
          {{#group.treeitem class="list-group-item"}}Pineapples{{/group.treeitem}}
          {{#group.treeitem class="list-group-item" aria-label="Apples" as |treeitem|}}
            <span role="presentation" class="caret"></span>
            <span>Apples</span>
            {{#treeitem.group class="list-group" as |group|}}
              {{#group.treeitem class="list-group-item"}}Macintosh{{/group.treeitem}}
              {{#group.treeitem class="list-group-item" aria-label="Granny Smith" as |treeitem|}}
                <span>Granny Smith</span>
                {{#treeitem.group class="list-group" as |group|}}
                  {{#group.treeitem class="list-group-item"}}Washington State{{/group.treeitem}}
                  {{#group.treeitem class="list-group-item"}}Michigan{{/group.treeitem}}
                  {{#group.treeitem class="list-group-item"}}New York{{/group.treeitem}}
                {{/treeitem.group}}
              {{/group.treeitem}}
              {{#group.treeitem class="list-group-item"}}Fuji{{/group.treeitem}}
            {{/treeitem.group}}
          {{/group.treeitem}}
          {{#group.treeitem class="list-group-item"}}Bananas{{/group.treeitem}}
          {{#group.treeitem class="list-group-item"}}Pears{{/group.treeitem}}
        {{/treeitem.group}}
      {{/tree.treeitem}}
      {{#tree.treeitem class="list-group-item" aria-label="Vegetables" as |treeitem|}}
        <span>Vegetables</span>
        {{#treeitem.group class="list-group" as |group|}}
          {{#group.treeitem class="list-group-item"}}Broccoli{{/group.treeitem}}
          {{#group.treeitem class="list-group-item"}}Carrots{{/group.treeitem}}
          {{#group.treeitem class="list-group-item" aria-label="Lettuce" as |treeitem|}}
            <span>Lettuce</span>
            {{#treeitem.group class="list-group" as |group|}}
              {{#group.treeitem class="list-group-item"}}Romaine{{/group.treeitem}}
              {{#group.treeitem class="list-group-item"}}Iceberg{{/group.treeitem}}
              {{#group.treeitem class="list-group-item"}}Butterhead{{/group.treeitem}}
            {{/treeitem.group}}
          {{/group.treeitem}}
          {{#group.treeitem class="list-group-item"}}Spinach{{/group.treeitem}}
          {{#group.treeitem class="list-group-item" aria-label="Squash" as |treeitem|}}
            <span>Squash</span>
            {{#treeitem.group class="list-group" as |group|}}
              {{#group.treeitem class="list-group-item"}}Acorn{{/group.treeitem}}
              {{#group.treeitem class="list-group-item"}}Ambercup{{/group.treeitem}}
              {{#group.treeitem class="list-group-item"}}Autumn Cup{{/group.treeitem}}
              {{#group.treeitem class="list-group-item"}}Hubbard{{/group.treeitem}}
              {{#group.treeitem class="list-group-item"}}Kabocha{{/group.treeitem}}
              {{#group.treeitem class="list-group-item"}}Butternut{{/group.treeitem}}
              {{#group.treeitem class="list-group-item"}}Spaghetti{{/group.treeitem}}
              {{#group.treeitem class="list-group-item"}}Sweet Dumpling{{/group.treeitem}}
              {{#group.treeitem class="list-group-item"}}Turban{{/group.treeitem}}
            {{/treeitem.group}}
          {{/group.treeitem}}
        {{/treeitem.group}}
      {{/tree.treeitem}}
    {{/ivy-tree}}
  </div>

  <div class="col-sm-6">
    <h3>Keyboard Shortcuts</h3>

    <p>The following keyboard shortcuts are supported. Make sure the tree has focus first.</p>

    <dl class="dl-horizontal">
      <dt><code>Up</code></dt>
      <dd>Select the previous visible tree item.</dd>
      <dt><code>Down</code></dt>
      <dd>Select the next visible tree item.</dd>
      <dt><code>Left</code></dt>
      <dd>Collapse the selected node, if it has children and is expanded. Otherwise, select its parent node.</dd>
      <dt><code>Right</code></dt>
      <dd>Expand the selected node, if it has children and is collapsed. Select its first child node.</dd>
      <dt><code>Home</code></dt>
      <dd>Select the first visible tree item.</dd>
      <dt><code>End</code></dt>
      <dd>Select the last visible tree item.</dd>
      <dt><code>Enter</code></dt>
      <dd>Toggle the expanded or collapsed state of the selected node.</dd>
      <dt><code>*</code></dt>
      <dd>Expand all nodes that have children.</dd>
    </dl>
  </div>
</div>
