<div class="row">
  <div class="col-sm-6">
    {{#ivy-tree class="list-group" aria-labelledby="foods" as |tree|}}
      {{#tree.item class="list-group-item" aria-label="Fruits" as |item|}}
        <span>Fruits</span>
        {{#item.group class="list-group" as |group|}}
          {{#group.item class="list-group-item"}}Oranges{{/group.item}}
          {{#group.item class="list-group-item"}}Pineapples{{/group.item}}
          {{#group.item class="list-group-item" aria-label="Apples" as |item|}}
            <span role="presentation" class="caret"></span>
            <span>Apples</span>
            {{#item.group class="list-group" as |group|}}
              {{#group.item class="list-group-item"}}Macintosh{{/group.item}}
              {{#group.item class="list-group-item" aria-label="Granny Smith" as |item|}}
                <span>Granny Smith</span>
                {{#item.group class="list-group" as |group|}}
                  {{#group.item class="list-group-item"}}Washington State{{/group.item}}
                  {{#group.item class="list-group-item"}}Michigan{{/group.item}}
                  {{#group.item class="list-group-item"}}New York{{/group.item}}
                {{/item.group}}
              {{/group.item}}
              {{#group.item class="list-group-item"}}Fuji{{/group.item}}
            {{/item.group}}
          {{/group.item}}
          {{#group.item class="list-group-item"}}Bananas{{/group.item}}
          {{#group.item class="list-group-item"}}Pears{{/group.item}}
        {{/item.group}}
      {{/tree.item}}
      {{#tree.item class="list-group-item" aria-label="Vegetables" as |item|}}
        <span>Vegetables</span>
        {{#item.group class="list-group" as |group|}}
          {{#group.item class="list-group-item"}}Broccoli{{/group.item}}
          {{#group.item class="list-group-item"}}Carrots{{/group.item}}
          {{#group.item class="list-group-item" aria-label="Lettuce" as |item|}}
            <span>Lettuce</span>
            {{#item.group class="list-group" as |group|}}
              {{#group.item class="list-group-item"}}Romaine{{/group.item}}
              {{#group.item class="list-group-item"}}Iceberg{{/group.item}}
              {{#group.item class="list-group-item"}}Butterhead{{/group.item}}
            {{/item.group}}
          {{/group.item}}
          {{#group.item class="list-group-item"}}Spinach{{/group.item}}
          {{#group.item class="list-group-item" aria-label="Squash" as |item|}}
            <span>Squash</span>
            {{#item.group class="list-group" as |group|}}
              {{#group.item class="list-group-item"}}Acorn{{/group.item}}
              {{#group.item class="list-group-item"}}Ambercup{{/group.item}}
              {{#group.item class="list-group-item"}}Autumn Cup{{/group.item}}
              {{#group.item class="list-group-item"}}Hubbard{{/group.item}}
              {{#group.item class="list-group-item"}}Kabocha{{/group.item}}
              {{#group.item class="list-group-item"}}Butternut{{/group.item}}
              {{#group.item class="list-group-item"}}Spaghetti{{/group.item}}
              {{#group.item class="list-group-item"}}Sweet Dumpling{{/group.item}}
              {{#group.item class="list-group-item"}}Turban{{/group.item}}
            {{/item.group}}
          {{/group.item}}
        {{/item.group}}
      {{/tree.item}}
    {{/ivy-tree}}
  </div>

  <div class="col-sm-6">
    <h3>Keyboard Shortcuts</h3>

    <p>The following keyboard shortcuts are supported. Make sure the tree has focus first.</p>

    <dl class="dl-horizontal">
      <dt><code>Up</code></dt>
      <dd>Select the previous visible tree item.</dd>
      <dt><code>Down</code></dt>
      <dd>Select the next visible tree item.</dd>
      <dt><code>Left</code></dt>
      <dd>Collapse the selected node, if it has children and is expanded. Otherwise, select its parent node.</dd>
      <dt><code>Right</code></dt>
      <dd>Expand the selected node, if it has children and is collapsed. Select its first child node.</dd>
      <dt><code>Home</code></dt>
      <dd>Select the first visible tree item.</dd>
      <dt><code>End</code></dt>
      <dd>Select the last visible tree item.</dd>
      <dt><code>Enter</code></dt>
      <dd>Toggle the expanded or collapsed state of the selected node.</dd>
      <dt><code>*</code></dt>
      <dd>Expand all nodes that have children.</dd>
    </dl>
  </div>
</div>
